/*menu*/

.background__image{
    padding: 0px;
    margin: 0px;
    position: relative;
    height:200px;
    & img {
      width: 100%;
      object-fit: cover;
    }
  }
  .menu__bloc{
    border-radius: 20px 20px 0px 0px;
    background-color: $background_resto;
    z-index: 1;
    position: relative;
    & a {
      text-decoration: none;
      width: 100%;
  }
  }
  .entete__menu{
    font-family: "Shrikhand", sans-serif;
    width:auto;
    font-size: 1.5em;
    text-align: left;
    margin: 0px 10px 40px 10px;
    padding-top:20px;
    & i{
      float: right;
      margin-right:30px;
      text-decoration: none;
    }
  }
  .menu__plats{
  -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate forwards;
              animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) alternate forwards;
    }
  
  .menu__titre{
    font-family:"robotoregular", sans-serif;
    font-size: 1em;
    color: $icons;
    margin-left:10px;
    margin-bottom:15px;
    border-bottom: 2px solid $tertiary;
    width: 12%;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  .menu__options{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px gray;
    cursor:pointer;
    margin: 10px;
    font-family:"robotoregular", sans-serif;
    -webkit-animation: fadein 1s linear;
              animation: fadein 1s linear;
}
.menu__vignettes{
    width:100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.menu__intitule{
    white-space: nowrap;
    overflow: hidden;
    width:100%;
    text-overflow: ellipsis;
}
.menu__plat-titre{
    font-family:"robotoregular", sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
}
.menu__intitule p{
    font-family:"robotoregular", sans-serif;
    font-size: 0.9em;
    margin:0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu__plat-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu__plat-condiments{
    text-overflow: ellipsis;
    overflow: hidden;
}
.menu__price{
    font-weight: bold;
    padding-right: 10px;
}
.menu__chosen{
    display: none;
    position: absolute;
    background-color: #99e2d0;
    height: 100%;
    width: 12%;
    padding:0 10px;
    right:0px;
    top:0px;
    border-radius: 0 20px 20px 0;
}
.menu__chosen i{
    font-size: 30px;
    color:#fff;
    transform:rotate(360deg);
    animation: rotate 1s both;
}
@keyframes rotate{
    0%{transform:rotate(360);}
    100%{transform:rotate(0);}
}
.menu__options:hover .menu__chosen{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slidefromright 0.5s linear;
    transform-origin: right;
    margin-left: 20px;
}
@keyframes slidefromright{
    0%{width:0%;}
    25%{width:4%;}
    50%{width:8%;}
    100%{width:12%;}
}
.menu__options:hover .menu__price{
    padding-right: 70px;
    transition: 0.5s linear;
}
  
  .commander{
    
    width: auto;
    padding: 0px;
    text-align: center;
    background-color: $background_resto;
  } 