@font-face {
  font-family: "Shrikhand", "robotoregular";
  src: url("font/shrikhand-regular-webfont.woff2") format("woff2"), url("font/shrikhand-regular-webfont.woff") format("woff");
  src: url("Roboto-Regular-webfont.eot");
  src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*smartphone*/
@media all and (min-width: 651px) and (max-width: 2000px) {
  html {
    overflow-x: hidden;
  }

  body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    font-family: "robotoregular", sans-serif;
    max-width: 100%;
  }

  /*header*/
  #entete {
    padding: 5vw;
    width: auto;
    display: flex;
    flex-direction: row;
  }
  #entete a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
  }

  .entete__logo {
    display: block;
    margin: auto;
    width: 50vw;
  }

  .location {
    background-color: #eaeaea;
    padding: 3px 0px 3px 0px;
    text-align: center;
    box-shadow: 0px 0px 4px black;
  }

  .reservation {
    width: auto;
    padding: 20px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
  }
  .reservation__titre {
    font-size: 1.5em;
    color: black;
    width: 70vw;
    margin: auto;
  }

  .reservation__bouton, .commander__bouton {
    background: linear-gradient(#ff79da, #9356DC);
    box-shadow: 2px 2px 5px gray;
    color: white;
    border-radius: 15px 15px 15px 15px;
    width: auto;
    border: none;
    padding: 20px;
    margin: 20px auto;
    text-align: center;
  }
  .reservation__bouton a, .commander__bouton a {
    text-decoration: none;
    color: white;
  }

  .fontionnement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .fontionnement__titre {
    margin-left: 10px;
    font-family: "robotoregular", sans-serif;
    font-size: 1em;
  }

  .fontionnement i {
    margin-left: 0px;
    margin-right: 10px;
    width: auto;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  ul a {
    width: 100%;
    padding: 2vw 0vw 2vw 0vw;
    color: black;
    text-decoration: none;
  }
  ul ol {
    width: auto;
    text-align: left;
    background-color: #f6f6f6;
    padding: 15px 20px;
    border-radius: 15px 15px 15px 15px;
    list-style-type: none;
    margin: 0 10px 15px 10px;
    position: relative;
    box-shadow: 2px 2px 5px gray;
  }

  .fontionnement span {
    color: white;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
    position: absolute;
    left: -6px;
  }

  #restaurants {
    background-color: #f6f6f6;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
  }
  #restaurants a {
    text-decoration: none;
  }

  .restaurant__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    justify-content: space-between;
  }

  .banner__new {
    background-color: #99e2d0;
    width: 80px;
    padding: 2px 0px 2px 0px;
    color: #008766;
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: center;
  }

  .restaurant__prev {
    height: 325px;
    width: 48%;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px 10px 10px 10px;
    position: relative;
  }
  .restaurant__prev img {
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }

  .restaurants__titre {
    font-family: "robotoregular", sans-serif;
    color: black;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 1.2em;
  }

  .restaurant__nom {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .restaurant__nom h3 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin: 20px 10px 10px 10px;
  }

  .restaurant__nom--description {
    width: 90%;
    height: 100px;
    text-align: left;
  }

  .restaurant__nom p {
    color: black;
    margin: 10px;
  }

  .container {
    position: relative;
    text-align: center;
    margin: 15px 30px;
    font-size: 2em;
    cursor: pointer;
    width: 35px;
  }

  .coeur_vide {
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #9356DC;
  }

  .coeur_rempli {
    position: absolute;
    width: 34px;
    height: 35px;
    bottom: 13%;
    color: transparent;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: #9356DC;
    transform-origin: bottom;
    transform: scale(0.1);
    transition: transform 3s ease;
  }

  .coeur_vide:hover + .coeur_rempli {
    background: radial-gradient(#FF79DA 0%, #FF79DA 5%, #9356DC 50%, #9356DC 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: scale(1);
  }

  .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    font-size: 2em;
    cursor: pointer;
  }
  .heart__rempli {
    color: transparent;
    -webkit-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #9356DC;
  }

  .coeur__vide:hover {
    background: linear-gradient(180deg, #FF79DA 0%, #FF79DA 5%, #9356DC 50%, #9356DC 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: appears 1s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
    -webkit-animation: appears 1s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
  }

  .footer__logo {
    width: 100px;
    margin: 20px 10px 0px 15px;
    filter: invert(1) sepia(10) saturate(0) hue-rotate(175deg);
  }

  #footer__bloc {
    background-color: #353535;
    width: 100%;
    height: 250px;
  }
  #footer__bloc ul {
    display: flex;
    flex-direction: column;
  }
  #footer__bloc ul li {
    list-style-type: none;
    margin: 10px 20px 10px 0px;
    width: 100%;
    font-size: 1em;
  }
  #footer__bloc ul a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
  }
}
/*reponsive mobile*/
@media screen and (max-width: 650px) {
  body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    font-family: "robotoregular", sans-serif;
    max-width: 100%;
  }

  #entete {
    padding: 5vw;
    width: auto;
    display: flex;
    flex-direction: column;
  }
  #entete a {
    text-decoration: none;
    color: black;
    padding-top: 10px;
  }

  .entete__logo {
    display: block;
    margin: auto;
    width: 50vw;
  }

  .location {
    background-color: #eaeaea;
    padding: 3px 0px 3px 0px;
    text-align: center;
    box-shadow: 0px 0px 4px black;
  }

  .reservation {
    width: auto;
    padding: 20px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
  }
  .reservation__titre {
    font-size: 1.5em;
    color: black;
    width: 70vw;
    margin: auto;
  }

  .reservation__bouton, .commander__bouton {
    background: linear-gradient(#ff79da, #9356DC);
    box-shadow: 2px 2px 5px gray;
    color: white;
    border-radius: 15px 15px 15px 15px;
    height: 10vw;
    width: 50vw;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 20px auto;
  }
  .reservation__bouton a, .commander__bouton a {
    text-decoration: none;
    color: white;
  }

  .fontionnement {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .fontionnement__titre {
    margin-left: 10px;
    font-family: "robotoregular", sans-serif;
    font-size: 1em;
  }

  .fontionnement i {
    margin-left: 20px;
    margin-right: 15px;
    width: auto;
    text-align: center;
  }

  ul {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  ul a {
    color: black;
    text-decoration: none;
  }
  ul ol {
    max-width: 100%;
    background-color: #f6f6f6;
    padding: 15px 0px;
    border-radius: 15px 15px 15px 15px;
    list-style-type: none;
    margin: 0px 10px 15px 10px;
    position: relative;
    box-shadow: 2px 2px 5px gray;
  }

  .fontionnement span {
    color: white;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
    position: absolute;
    left: -6px;
  }

  #restaurants {
    background-color: #f6f6f6;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #restaurants a {
    text-decoration: none;
  }

  .restaurant__prev {
    height: 85vw;
    background-color: transparent;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px 10px 10px 10px;
    position: relative;
  }
  .restaurant__prev img {
    width: 100%;
    height: 60vw;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }

  .restaurants__titre {
    font-family: "robotoregular", sans-serif;
    color: black;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 1.2em;
  }

  .banner__new {
    background-color: #99e2d0;
    width: 80px;
    padding: 2px 0px 2px 0px;
    color: #008766;
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: center;
  }

  .restaurant__nom {
    display: flex;
    flex-direction: row;
    width: auto;
  }

  .restaurant__nom h3 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
  }

  .restaurant__nom--description {
    width: 90%;
  }

  .restaurant__nom p {
    color: black;
    margin-left: 10px;
  }

  .container {
    position: relative;
    text-align: center;
    margin: 15px 30px;
    font-size: 2em;
    cursor: pointer;
    width: 35px;
  }

  .coeur_vide {
    color: transparent;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #9356DC;
  }

  .coeur_rempli {
    position: absolute;
    width: 34px;
    height: 35px;
    bottom: 13%;
    color: transparent;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: #9356DC;
    transform-origin: bottom;
    transform: scale(0.1);
    transition: transform 3s ease;
  }

  .coeur_vide:hover + .coeur_rempli {
    background: radial-gradient(#FF79DA 0%, #FF79DA 5%, #9356DC 50%, #9356DC 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    transform: scale(1);
  }

  .heart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    font-size: 2em;
    cursor: pointer;
  }
  .heart__rempli {
    color: transparent;
    -webkit-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #9356DC;
  }

  .coeur__vide:hover {
    background: linear-gradient(180deg, #FF79DA 0%, #FF79DA 5%, #9356DC 50%, #9356DC 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: appears 1s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
    -webkit-animation: appears 1s cubic-bezier(0.2, 0.6, 0.8, 0.4) forwards;
  }

  .footer__logo {
    width: 100px;
    margin: 20px 10px 0px 15px;
    filter: invert(1) sepia(10) saturate(0) hue-rotate(175deg);
  }

  #footer__bloc {
    background-color: #353535;
    width: 100%;
    height: 250px;
  }
  #footer__bloc ul {
    display: flex;
    flex-direction: column;
  }
  #footer__bloc ul li {
    list-style-type: none;
    margin: 10px 20px 10px 0px;
    width: 100%;
    font-size: 1em;
  }
  #footer__bloc ul a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
  }
}
/*menu*/
.background__image {
  padding: 0px;
  margin: 0px;
  position: relative;
  height: 200px;
}
.background__image img {
  width: 100%;
  object-fit: cover;
}

.menu__bloc {
  border-radius: 20px 20px 0px 0px;
  background-color: #f6f6f6;
  height: 890px;
  z-index: 1;
  position: relative;
}
.menu__bloc a {
  text-decoration: none;
  width: 100%;
}

.entete__menu {
  font-family: "Shrikhand", sans-serif;
  width: auto;
  font-size: 1.5em;
  text-align: left;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
}
.entete__menu i {
  float: right;
  margin-right: 30px;
  text-decoration: none;
}

.menu__titre {
  font-family: "robotoregular", sans-serif;
  font-size: 1em;
  color: #353535;
  margin-left: 10px;
  margin-bottom: 5px;
  border-bottom: 2px solid #99e2d0;
  width: 12%;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.menu__options {
  height: 15vw;
  background-color: white;
  border-radius: 20px;
  padding: 0px;
  box-shadow: 2px 2px 5px gray;
  margin: 0px 10px 10px 10px;
  display: flex;
  flex-direction: row;
  font-family: "robotoregular", sans-serif;
}
.menu__options h2 {
  font-family: "robotoregular", sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding-left: 10px;
  margin: 10px 0px 0px 5px;
  color: black;
}
.menu__options p {
  font-family: "robotoregular", sans-serif;
  font-size: 0.9em;
  padding-left: 15px;
  margin-top: 2px;
  color: black;
  display: flex;
  justify-content: space-between;
}
.menu__options strong {
  font-family: "robotoregular", sans-serif;
  font-weight: bold;
  display: flex;
  margin-right: 20px;
}

.commander {
  margin: 40px 10px 40px 10px;
  width: auto;
  padding: 0px;
  text-align: center;
  background-color: #f6f6f6;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.61);
  animation: loader 2.8s linear forwards;
}
.loader p {
  font-size: 3rem;
  font-style: normal;
  font-family: "Shrikhand", sans-serif;
  width: 100%;
  height: 230px;
  text-align: center;
  position: relative;
  background: -webkit-linear-gradient(225deg, #9356DC, #ff79da, #99e2d0) 0% 0%/300% 300%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fontgradient 2s ease infinite;
}

@-webkit-keyframes loader {
  99.99% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
  }
}
@keyframes loader {
  99.99% {
    height: 100%;
    width: 100%;
  }
  100% {
    height: 0%;
    width: 0%;
  }
}
@-webkit-keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@keyframes fontgradient {
  0% {
    background-position: 0% 92%;
  }
  50% {
    background-position: 100% 9%;
  }
  100% {
    background-position: 0% 92%;
  }
}
@-webkit-keyframes appears {
  100% {
    background-position-Y: -30px;
  }
  0% {
    background-position-Y: 0px;
  }
}
@keyframes appears {
  100% {
    background-position-Y: -30px;
  }
  0% {
    background-position-Y: 0px;
  }
}
/*@import "./components/buttons.scss";*/

/*# sourceMappingURL=style.css.map */
