/*responsive smartphone*/
@media all and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }

  body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    font-family: "robotoregular", "shrikhandregular", sans-serif;
    max-width: 100%;
  }

  @font-face {
    font-family: "Shrikhand", "robotoregular";
    src: url("font/shrikhand-regular-webfont.woff2") format("woff2"), url("font/shrikhand-regular-webfont.woff") format("woff");
    src: url("Roboto-Regular-webfont.eot");
    src: url("Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular-webfont.woff2") format("woff2"), url("Roboto-Regular-webfont.woff") format("woff"), url("Roboto-Regular-webfont.ttf") format("truetype"), url("Roboto-Regular-webfont.svg#robotoregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  /*header*/
  #header {
    height: 50px;
    padding-top: 1.3vw;
    width: 100%;
  }

  .header__logo {
    display: block;
    margin: auto;
    width: 50vw;
  }

  .location {
    background-color: #eaeaea;
    padding: 3px 0px 3px 0px;
    text-align: center;
    box-shadow: 0px 0px 4px black;
  }

  .reservation__bloc {
    width: 100%;
    background-color: #f6f6f6;
    height: 250px;
  }

  .reservation {
    width: auto;
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    background-color: #f6f6f6;
  }
  .reservation__titre {
    font-size: 1.5em;
    color: black;
    width: 70vw;
    margin: auto;
  }

  .reservation__bouton {
    background: linear-gradient(#ff79da, #9356DC);
    color: white;
    border-radius: 15px 15px 15px 15px;
    justify-content: center;
    height: 10vw;
    width: 50vw;
    border: none;
  }
  .reservation__bouton a {
    text-decoration: none;
    color: white;
  }

  .navigation {
    display: flex;
    flex-direction: column;
  }
  .navigation__titre {
    margin-left: 10px;
    font-family: "shrikhandregular", sans-serif;
    font-size: 1em;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  nav ul a {
    padding: 2.1vw;
    color: black;
    text-decoration: none;
  }
  nav ul li {
    width: 100%;
    background-color: #f6f6f6;
    padding: 10px 0px;
    border-radius: 15px 15px 15px 15px;
    list-style-type: none;
    margin: 10px 20px 10px 0px;
  }

  nav li {
    box-shadow: 2px 2px 5px gray;
  }

  .navigation span {
    color: white;
    background-color: #9356DC;
    width: 20px;
    height: 20px;
    text-align: center;
    float: left;
    border-radius: 100px;
    font-size: 12px;
    line-height: 20px;
    margin-right: 10px;
  }

  .navigation i {
    margin-right: 10px;
  }

  #restaurants {
    background-color: #f6f6f6;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #restaurants a {
    text-decoration: none;
  }

  .restaurants__titre {
    font-family: "shrikhandregular", sans-serif;
    color: black;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 1.2em;
  }

  .banner__new {
    background-color: #99e2d0;
    width: 80px;
    padding-left: 4px;
    color: #008766;
    position: absolute;
    left: 60%;
  }

  .restaurant__nom {
    margin: 6px 1px;
  }

  .restaurant__nom h2 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
  }

  .restaurant__nom p {
    color: black;
    margin-left: 10px;
  }

  .heart {
    padding-right: 20px;
    width: auto;
    position: relative;
    left: 90%;
    bottom: 60%;
  }

  .restaurant__prev {
    height: 85vw;
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px 10px 10px 10px;
  }
  .restaurant__prev img {
    width: 100%;
    height: 60vw;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
  }

  .footer__logo {
    width: 100px;
    margin: 20px 10px 0px 15px;
    filter: invert(1) sepia(10) saturate(0) hue-rotate(175deg);
  }

  #footer {
    background-color: #353535;
    width: 100%;
  }
  #footer ul {
    padding-left: 15px;
  }
  #footer ul li {
    list-style-type: none;
    margin: 10px 20px 10px 0px;
    width: 100%;
    font-size: 1em;
  }
  #footer ul a {
    text-decoration: none;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
