.reservation a {
  text-decoration: none;
  color: white;
}
.commander a {
  text-decoration: none;
  color: white;
}
.bouton {
  border: 0;
  text-align: center;
  width: auto;
  background: linear-gradient(180deg, #ff79da, #9356dc);
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
  margin: 20px auto;
  border-radius: 15px;
  font-size: 1em;
  box-shadow: 2px 2px 5px gray;
  transition: all 0.2s;
}

.bouton:hover {
  background: linear-gradient(180deg, #fd98e0, #9e61e9);
  box-shadow: 3px 3px 7px gray;
}
