@keyframes loader{
    99.99%{height: 100%; width: 100%;}
    100%{height: 0%; width: 0%;}
}
@-webkit-keyframes loader{
    99.99%{height: 100%; width: 100%;}
    100%{height: 0%; width: 0%;}
}
 
@keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}

@-webkit-keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
    }


@keyframes appears {
    100% {background-position-Y:-30px;}
    0% {background-position-Y:-0px;}
}

@-webkit-keyframes appears {
    100% {background-position-Y:-30px;}
    0% {background-position-Y:-0px;}
}

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background:black;
    animation: loader 2.8s linear forwards;
    & p {
    font-size: 3rem;
    font-style: normal;
    font-family: "Shrikhand", sans-serif;
    width:100%;
    height: 230px;
    text-align: center;
    position: relative;
    background: -webkit-linear-gradient(
      225deg,
      $primary_color,
      $secondary,
      $tertiary
    )
    0% 0% / 300% 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fontgradient 2s ease infinite;
}
}


    