  body {
    width: 100%;
    margin: 0px;
    overflow-x: hidden;
    padding: 0px;
    font-family: "robotoregular", sans-serif;
    max-width: 100%;
  }


  
  #entete {
    padding: 5vw;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    & a {
      text-decoration: none;
      color: black;
      padding-top: 10px;
    }
  }
  
  .entete__logo{
    display: block;
    margin: auto;
    width: 50vw;
  }
  .location {
    background-color: $background_grey;
    padding: 3px 0px 3px 0px;
    text-align: center;
    box-shadow: 0px -0px 4px black;
  }
  
  .reservation {
    width: auto;
    padding: 20px;
    text-align: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color:$background_resto;
    &__titre {
      font-family: "robotoregular", sans-serif;
      font-size: 1.5em;
      color: black;
      width: 70vw;
      margin: auto;
    }
  }
  
  
  .fonctionnement{
    width:auto;
    display: flex;
    flex-direction:column;
    margin:20px auto;
    &__titre{
      margin: 0px 10px 0px 10px;
      font-family: "robotoregular", sans-serif;
      font-size: 1.2em;
    }
  }
  .fonctionnement i{
    margin-left:20px;
    margin-right: 15px;
    width:auto;
    text-align:center;
    }
  
  
  
  .fonctionnement span{
    color: white;
    background-color: $primary_color;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 100px;
    font-size: 12px;
    line-height: 20px;
    margin-right:20px;
    position: absolute;
    left:-6px;
  
  }
  .fonctionnement__vignettes{
    
    background-color:#f6f6f6;
    padding: 15px 10px;
    border-radius: 15px 15px 15px 15px;
    list-style-type: none;
    margin: 20px 20px;
    position: relative;
    display: flex;
    flex-direction: row;
    @include bloc_shadow;
  }
  .fonctionnement__vignettes p{
    padding:0px;
    margin:0px;
  }
  .fonctionnement__vignettes:hover{
    background-color: #9256dc60;
    cursor:pointer;
    transition: 3s linear;
  }
  .fonctionnement__vignettes:hover .fonctionnement__icon{
    color: #9356DC;
    font-weight: bold;
  }
  
  
  
  
  #restaurants {
    background-color: $background_resto;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    & a {
      text-decoration: none;
    }
  } 
  .restaurant__prev {
    background-color:transparent;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px 10px 10px 10px;
    position: relative;
    & img {
      width: 100%;
      height: 60vw;
      border-radius: 20px 20px 0px 0px;
      object-fit: cover;
    }
  }
  .restaurants__titre {
    font-family: "robotoregular", sans-serif;
    color: black;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 1.2em;
  }
  .banner__new {
    background-color:$tertiary;
    width: 80px;
    padding: 2px 0px 2px 0px;
    color: $text_banner;
    position: absolute;
    right:5%;
    top:5%;
    text-align:center;
  }
  .restaurant__nom {
    display:flex;
    flex-direction: row;
    width:auto;
  }
  .restaurant__nom h3 {
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
  }
  .restaurant__nom--description{
      width:90%;
  }
  .restaurant__nom p {
    color: black;
    margin-left: 10px;
  }
  .container{
    position:relative;
    text-align: center;
    margin: 15px 30px;
    font-size: 2em;    
    cursor: pointer;
    width:35px;
    height: 35px;
  }
  .coeur_vide{
    color: transparent;
    -webkit-text-stroke: 1.5px;
    -webkit-text-stroke-color: black;
  }
.coeur_rempli{
    
    position:absolute;
    
    height: 35px;
    top:2%;
    color: transparent;
    -webkit-text-stroke: 0px;
    -webkit-text-stroke-color: #9356DC;
    transform-origin: bottom;
    transform: scale(0.1);
    transition: transform 3s ease;
}
.coeur_vide:hover + .coeur_rempli{
  background: radial-gradient(#FF79DA 0%,#FF79DA 5%, #9356DC 50%,#9356DC 100%);
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transform:scale(1.1);
}
  .heart {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 15px 30px;
    font-size: 2em;    
    cursor: pointer;
    &__rempli{
        color: transparent;
        -webkit-color: transparent;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #9356DC;   
    }
  }
  .coeur__vide:hover{
    background: linear-gradient(180deg,#FF79DA 0%,#FF79DA 5%, #9356DC 50%,#9356DC 100%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: appears 1s cubic-bezier(.2,.6,.8,.4) forwards;
    -webkit-animation: appears 1s cubic-bezier(.2,.6,.8,.4) forwards;
  }
  .coeur_vide:hover{
    -webkit-text-stroke-color: #9356dc;
    animation: fadein 2s linear;
    -webkit-animation: fadein 2s linear;
  }
  
  
  
  .footer__logo {
    width: 100px;
    margin: 20px 10px 0px 15px;
    filter: invert(01) sepia(10) saturate(0) hue-rotate(175deg);
  }
  
  #footer__bloc {
    background-color: #353535;
    
    padding:10px 20px 10px 20px;
    & ul{
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      & li{
        list-style-type: none;
        margin: 10px 20px 10px 0px;
        
        font-size: 1em;
        
      }
        & a{
        text-decoration: none;
        color: white;
        
      }
    }
  
  }
@media screen and (min-width:650px){
  .reservation{
    height:150px;
  }
  .fonctionnement__etapes{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0px 10px;
  }
  .restaurant__cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
  }
  .restaurant__prev{
    margin:10px;
    width: 46.7%;
  }
  .footer__logo{
    width: 200px;
    margin:auto;
    display: block;
    padding:20px;
  }
  
  #footer__bloc ul{
    flex-wrap: wrap;
    height: 90px;
    padding:0px 30px 0px 30px;
    justify-content: space-between;
    text-align: center;
  }
  
}
@media screen and (min-width:900px){
  .entete__logo{
    width:25vw;
  }
  .reservation{
    height:200px;
  }
  .fonctionnement__vignettes{
    padding-right: 60px;
  }
  .restaurant__prev img{
    height:200px
  }
  .restaurant__prev{
    width:20%;
  }
  #footer__bloc{
    padding:10px 20px 30px 20px;
  }
  #footer__bloc ul{
    flex-direction: row;
  }
  #footer__bloc ul li{
    height:30px;
  }
}

